:root {
  --color-bg: white;
  --color-text: black;
}

.dark-theme {
   --color-bg: black;
  --color-text: white;
}


/**app styles**/

* {
  margin: 0;
  padding: 0; 
  user-select: none;
  transition: all .2s ease-out;     /*ensures a smooth transition*/
}

html {
  height:100vh;
}


body {
  background-color: var(--color-bg);
  height: 100%;
  text-align: center;          /*centered horizontally*/
  align-content: center;       /*centered vertically*/
}


button {
  color: var(--color-bg);
  background-color: var(--color-text);
  border: 2px solid;
  border-radius: 5px;
  padding: 10px;
  font-weight: 500;          /*font weight medium*/
}

















